# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environnement virtuel
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Variables d'environnement
.env
.env.local

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/